.Error {
  font-family: "Electrolize", sans-serif;

  height: 100vw;
  background: url("../../public/error.webp");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  color: black;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
